body {
  font-family: Monaco,courier,sans-serif;
}

h1 {
  font-size: 2em;
}

#debug-board#board {
  border: 10px solid #ddd;
}
#debug-board div {
  border: 1px solid #bbb;
}
#board {
  border: 1px solid #ddd;
  width: 400px;
  height: 400px;
  position: relative;
}
#board div {
  position: absolute;
}
.food { background-image: url(/images/food.png); }
.snake1 { background-color: #87071c; }
.snake2 { background-color: #3280ba; }
.snake3 { background-color: #ba5535; }
.snake4 { background-color: #3f873d; }

.head { background-image: url(/images/head.png); }

.left { -webkit-transform: rotate(-90deg); }
.right { -webkit-transform: rotate(90deg); }
.down { -webkit-transform: rotate(180deg); }

.flash1 { background-color: #777; }
.flash2 { background-color: #ddd; }
.tongue { background-image: url(/images/tongue.png); }

/*
 * Heads up display. 
 */
#hud {
  position: fixed;
  right: 20px;
  width: 200px;
  height: 200px;
  top: 20px;
  background-color: yellow;
  opacity: 0.8;
}

/*
 * Start page
 */
.popup {
  position: fixed;
  top: 100px;
  left: 100px;
  /*height: 100%;*/
  z-index: 999;
  opacity: 0.8;
  width: 400px;
  /*height: 400px;*/
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.popup a.button {
  display: block;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popup h1 {
  text-align: center;
}

a.button {
  margin: 1em;
  padding: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
}

a.button:hover {
  border: 1px solid #000;
  color: #000;
}

a.button:active {
  opacity: 0.8;
}