body {
  font-family: Monaco,Consolas,Courier,sans-serif;
  margin: 0;
  background-image: url("/images/desert_dark.png");
}

h1 {
  font-size: 2em;
}

#debug-board#board {
  border: 10px solid #ddd;
}
#debug-board div {
  border: 1px solid #bbb;
}
#board {
  border: 1px solid #ddd;
  position: relative;
  background: url(/images/desert_light.png);
  border-right: 4px solid #f8dd8d;
  border-bottom: 4px solid #f8dd8d;
}

/*
 * Our obstacles are cactuses which are 2x3. An obstacle corner is the upper left corner cell. It's the only
 * cell that is drawn, even though an obstacle occupies many cells. This is because we only want to draw the
 * obstacle bitmap once.
 */
.obstacleCorner {
  background: transparent url(/images/cactus.png) no-repeat;
  z-index: 100; /* Make it higher than the surrounding cells */
}

#board div {
  position: absolute;
}
.food { background-image: url(/images/food.png); }
.snake1 { background-color: #87071c; }
.snake2 { background-color: #3280ba; }
.snake3 { background-color: #ba5535; }
.snake4 { background-color: #3f873d; }

.head { background-image: url(/images/head.png); }

.left { -webkit-transform: rotate(-90deg); }
.right { -webkit-transform: rotate(90deg); }
.down { -webkit-transform: rotate(180deg); }

.flash1 { background-color: #777; }
.flash2 { background-color: #ddd; }
.tongue { background-image: url(/images/tongue.png); }

/*
 * Heads up display. 
 */
#hud {
  position: absolute;
  right: 20px;
  width: 200px;
  top: 20px;
  background-color: white;
  border: 0.5em solid black;
  opacity: 0.8;
  padding: 1em;
}

/*
 * Start page
 */
.popup {
  position: absolute;
  top: 100px;
  left: 100px;
  /*height: 100%;*/
  z-index: 999;
  opacity: 0.8;
  width: 400px;
  /*height: 400px;*/
  background-color: white;
  border: 0.5em solid black;
  text-align: center;
  padding: 1em;
}

.popup a.button {
  display: block;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popup h1 {
  text-align: center;
}

a.button {
  margin: 1em;
  padding: 1em;
  background-color: #eee;
  border: 1px solid #000;
  color: #333;
  text-decoration: none;
}

a.button:hover {
  border: 1px solid #000;
  color: #000;
}

a.button:active {
  opacity: 0.8;
}

.innerBox {position: relative;}

.announcement {
  position: absolute;
  z-index: 999;
  font-size: 0.1em;
}
